*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #dadada;
  font-size: 10px;
  font-family: sans-serif;
}

.preview.baku {
  width: cover;
  background-image: url("../images/baku.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  margin: auto;
  padding: 10px;
  display: inline-block;
}

.preview.london {
  width: cover;
  background-image: url("../images/london.png");
  background-size: 100%;
  background-repeat: no-repeat;
  margin: auto;
  padding: 10px;
  display: inline-block;
}

.preview.madrid {
  width: cover;
  background-image: url("../images/madrid.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  margin: auto;
  padding: 10px;
  display: inline-block;
}

.preview.rome {
  width: cover;
  background-image: url("../images/rome.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  margin: auto;
  padding: 10px;
  display: inline-block;
}

  @@media screen and (min-width: 991px) {
  .preview.baku, .preview.london, .preview.madrid, .preview.rome  {
    margin: 1%;
    width: 100%;
  }

}

@@media screen and (min-width: 1199px) {
  .preview.baku, .preview.london, .preview.madrid, .preview.rome  {
    margin: 1%;
    width: 100%;
  }

}
